src/main/mule/mule4sample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

	<global-property doc:name="Global Property" name="env" value="sandbox" />
	<configuration-properties file="config/${env}.yaml"/>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config">
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<!-- <flow name="mule4sampleFlow" doc:id="87842939-366f-4977-bca6-cb74f37527ce" >
		<http:listener doc:name="Listener" doc:id="505ae488-9372-45e1-b1c8-2c97ebad9d44" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="da038093-a0d7-41d0-b094-c5a96ac293a3" />
	</flow> -->
	<flow name="hello-muleFlow" >
		<http:listener doc:name="Listener"
						config-ref="HTTP_Listener_config"
						path="/hellomule"/>
		<set-payload value="Hello Mule!"
					doc:name="Set Payload"
					mimeType="text/plain"/>
		<logger level="INFO"
				doc:name="Logger"
				message="#[attributes.requestPath]"/>
		
		<logger level="INFO" 
				doc:name="Logger" 
				message="Environment - ${env}" />
		
		<logger level="INFO" 
				message="TZ from properties - ${scheduler.timeZone}" 
				doc:name="Logger"/>

		<logger level="INFO" 
				message="Cron IN from properties - ${scheduler.cronJobIn}" 
				doc:name="Logger"/>

		<logger level="INFO" 
				message="Cron OUT from properties - ${scheduler.cronJobOut}" 
				doc:name="Logger"/>

		<logger level="INFO" 
				message="Port from properties - ${http.port}" 
				doc:name="Logger"/>
	</flow>

	<flow name="LogEnvironmentFlow" >
		<http:listener doc:name="Listener" config-ref="HTTP_Listener_config" path="/logEnvironment"/>
		<logger level="INFO" doc:name="Logger" message="${env}" />
	</flow>

	<flow name="LogProperties">
		<http:listener doc:name="Listener" config-ref="HTTP_Listener_config" path="/logProperties" />
		<logger message="${scheduler.timeZone}" doc:name="Time zone from properties"/>
		<logger message="${scheduler.cronJobIn}" doc:name="Cron from properties"/>
		<logger message="${scheduler.cronJobOut}" doc:name="Cron from properties"/>
	</flow>
</mule>
